.feed {
    flex:0.4;
    border-right: 1px solid var(--twitter-background);
    /*https://blog.logrocket.com/understanding-min-content-max-content-fit-content-css/*/
    min-width: fit-content;
    /*To learn*/
    overflow-y: scroll;
    /*Hide scrollbar for firefox*/
    scrollbar-width: none;
    
}

div::-webkit-scrollbar{
    display: none;
  }
  
.feed-header {
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed-header > h2 {
    font-size: 20px;
    font-weight: 800;
}