.feed {
  border-right: 1px solid var(--twitter-background);
  /*https://blog.logrocket.com/understanding-min-content-max-content-fit-content-css/*/
  min-width: fit-content;
  /*To learn*/
  overflow-y: scroll;
  /*Hide scrollbar for firefox*/
  scrollbar-width: none;
  /* https://www.npmjs.com/package/react-scroll-sync */

}

div::-webkit-scrollbar {
  display: none;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: 100;
  border: 0.3px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed-header > h2 {
  font-size: 20px;
  font-weight: 800;
}
