.imgFig {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
}

.image-gallery {
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  padding: 4px;
  padding-top: 12px;
}

.image-gallery-slide img {
  border-radius: 20px;
}

.image-gallery-svg {
  height: 5vh !important;
  width: auto !important;
}

.image-gallery-bullet {
  border: 1px solid white !important;
  width: 1vh !important;
  height: auto !important;
}

.player-wrapper {
  padding: 4px;
  padding-top: 12px;
}

a {
  color: '#1976d2'
}






@import "react-image-gallery/styles/css/image-gallery.css";
