.tweetBox-button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color:white !important;
    font-weight: 900 !important;
    /* Inherit parent's style */
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 70px;
    height: 40px !important;

}

textarea,input {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    outline:none;
}

.inputBox:focus ~ .line  {
    display: block;
}
